<ion-view view-title="歌单" animation="no-animation">
  <ion-header-bar class=" green-bg item-input-inset">
    <button class="button button-icon icon ion-ios-mic-outline " style="color: #fff;"></button>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索音乐">
    </label>
    <button class="button button-icon icon ion-ios-pulse" style="color: #fff;"></button>
  </ion-header-bar>
  <div class="tabs tabs-top sub-tab" >
    <a href="#/recommend" class="tab-item">个性推荐</a>
    <a href="#/sheet" class="tab-item  tab-active">歌单</a>
    <a href="#/station" class="tab-item">主播电台</a>
    <a href="#/ranking" class="tab-item">排行榜</a>
  </div>
  <ion-content class="padding no-header" style="padding:0;top:104px !important;bottom: 60px !important;">
    <div class="sub-img">
      <img src="img/adam.jpg">
    </div>
    <div class="sheet-all">
      <a class="button button-outline button-positive"  href="#/sheetClassify">全部歌单</a> <span>欧美&nbsp;|&nbsp;民谣&nbsp;|&nbsp;古风</span>
    </div>
    <div class="sheet-main">
      <div class="music-row" >
        <div class="music-col-2" ng-repeat="item in sheetList">
          <span class="music-col-span music-shadow"  ui-sref="sheetListDetail({playListId:item.id})">
            <img class="music-col-titleImg" ng-src="{{item.coverImgUrl}}">
            <span class="sheet-author" ><i class="icon ion-ios-person-outline "></i><span ng-bind="item.creator.nickname"></span></span>
            <span class="sheet-total"><i class="icon ion-ios-heart-outline"></i><span  ng-bind="item.playCount | formatNum"></span></span>
          </span>
          <p class="music-col-p" ng-bind="item.name"></p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top bottom-tab">
    <a class="tab-item tab-item-active" href="#/recommend">
      <i class="icon ion-home"></i>
      发现音乐
    </a>
    <a class="tab-item" href="#/myMusic">
      <i class="icon ion-star"></i>
      我的音乐
    </a>
    <a class="tab-item" href="#/user">
      <i class="icon ion-gear-a"></i>
      账户
    </a>
  </div>
</ion-view>

