<ion-view view-title="歌单详情"  >

  <div class="blur-bg" style="background-image:url({{sheetDetail.picUrl}}); ">
  </div>
    <ion-header-bar class="bar" style="background: none">
      <a ng-click="goSheetPage()"><</a>
      <h1 class="title">歌单</h1>
    </ion-header-bar>

    <ion-content  class="has-header" style="bottom: 60px !important;background: none">
      <div class="Detail" >
        <div class="Detail-text">
          <img class="sheet-img" ng-src="{{sheetDetail.picUrl}}">
          <h4 ng-bind="sheetDetail.name"></h4>
          <p><img src="{{sheetDetail.creator.avatarUrl}}"><span ng-bind="sheetDetail.creator.nickname"></span></p>
        </div>
        <div class="Detail-but">
          <a><i class="icon ion-ios-plus-outline"></i><p ng-bind="sheetDetail.subscribedCount | formatNum"></p></a>
          <a><i class="icon ion-ios-paper-outline"></i><p ng-bind="sheetDetail.commentCount | formatNum"></p></a>
          <a><i class="icon ion-ios-redo-outline" ></i><p ng-bind="sheetDetail.shareCount | formatNum"></p></a>
          <a><i class="icon ion-ios-cloud-download-outline"></i><p>下载</p></a>
        </div>
      </div>
      <div class="playList">
        <div class="playList-title" >
           <i class="icon ion-android-arrow-dropright-circle"></i> <span>播放全部</span>(共<a ng-bind="sheetDetail.trackCount"></a>首)
        </div>
        <ul >
          <li ng-repeat="item in sheetDetail.tracks">
            <span class="num">{{$index + 1}}</span>
            <div class="playList-detail">
              <div ui-sref="playPage({songId:item.id})">
                <span ng-bind="item.name" ></span>
                <p >
                  <span ng-repeat="i in item.ar"><i ng-bind="i.name"></i><i ng-if="$index<item.ar.length-1 && $index>=0">/</i></span>
                  -<span ng-bind="item.al.name"></span>
                </p>
              </div>
              <div class="tool-but"><i class="icon ion-ios-more"></i></div>
            </div>
          </li>

        </ul>
      </div>
    </ion-content>


  <div class="tabs tabs-icon-top bottom-tab">
    <a class="tab-item tab-item-active" href="#/recommend">
      <i class="icon ion-home"></i>
      发现音乐
    </a>
    <a class="tab-item" href="#/myMusic">
      <i class="icon ion-star"></i>
      我的音乐
    </a>
    <a class="tab-item" href="#/user">
      <i class="icon ion-gear-a"></i>
      账户
    </a>
  </div>
</ion-view>

