<ion-view view-title="主播电台" >
  <ion-header-bar class=" green-bg item-input-inset">
    <button class="button button-icon icon ion-ios-mic-outline " style="color: #fff;"></button>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索音乐">
    </label>
    <button class="button button-icon icon ion-ios-pulse" style="color: #fff;"></button>
  </ion-header-bar>
  <div class="tabs tabs-top sub-tab" >
    <a href="#/recommend" class="tab-item ">个性推荐</a>
    <a href="#/sheet" class="tab-item">歌单</a>
    <a href="#/station" class="tab-item tab-active">主播电台</a>
    <a href="#/ranking" class="tab-item">排行榜</a>
  </div>
  <ion-content class="has-header has-tabs" style="top:84px !important;bottom: 60px !important;">
    <h1>station content</h1>


  </ion-content>
  <div class="tabs tabs-icon-top bottom-tab">
    <a class="tab-item tab-item-active" href="#/recommend">
      <i class="icon ion-home"></i>
      发现音乐
    </a>
    <a class="tab-item" href="#/myMusic">
      <i class="icon ion-star"></i>
      我的音乐
    </a>
    <a class="tab-item" href="#/user">
      <i class="icon ion-gear-a"></i>
      账户
    </a>
  </div>
</ion-view>

