<ion-view view-title="mymusic" >
  <ion-content class="has-header has-tabs" style="top:50px !important; bottom: 90px !important;" >
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="true">
      <ion-slide >
        <div class="slid-box">
          <img src="img/adam.jpg"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slid-box">
          <img src="img/ben.png" />
        </div>
      </ion-slide>
      <ion-slide >
        <div class="slid-box">
          <img src="img/perry.png"/>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="button-bar">
      <a class="button" href="#/private">
        <i class="icon ion-home" ></i>
        <p>私人FM{{aa}}</p>
      </a>
      <a class="button" href="#/everyday">
        <i class="icon ion-home" ></i>
        <p>每日歌曲推荐</p>
      </a>
      <a class="button" href="#/hotsong">
        <i class="icon ion-home"></i>
        <p>云音乐热歌榜</p>
      </a>
    </div>
    <div class="main">
      <div class="sheet">
        <div class="sheet-title">
          <span ><a  href="#/tab/discover/tabs2/sheet">推荐歌单</a></span>>
        </div>
        <div class="sheet-main">
          <div class="recomm-sheet" >
            <div class="recomm-col" >
              <div>
              </div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

